svg {
  background: #f1f1f1;
}

.text-container {
  fill: #ddd;
  stroke: green;
  stroke-width: 3px;
}

.connecting-line {
  stroke: #555;
  stroke-width: 2px;
}

.text {
  text-shadow:
    0 0 0 #ddd,
    0 1px 0 #ddd,
    1px 0 0 #ddd,
    1px 1px 0 #ddd,
    1px 2px 0 #ddd,
    2px 1px 0 #ddd,
    2px 2px 0 #ddd,
    2px 3px 0 #ddd,
    3px 2px 0 #ddd,
    3px 3px 0 #ddd,

    0 0 0 #ddd,
    0 -1px 0 #ddd,
    -1px 0 0 #ddd,
    -1px -1px 0 #ddd,
    -1px -2px 0 #ddd,
    -2px -1px 0 #ddd,
    -2px -2px 0 #ddd,
    -2px -3px 0 #ddd,
    -3px -2px 0 #ddd,
    -3px -3px 0 #ddd;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.john-misty {
  height: 850px;
  width: 90%;
}
